.App {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Header-Wrapper {
  margin:0 1%;
}

.Left-Header {
  float: left;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  color: black;
  font-size: 2rem;
}

.Right-Header {
  float: right;
  color: black;
}

.New-Header {
  background-color: white;
  height: 50px;
  color: white!important;
  padding: 0.5%!important;
}

.Header-Style {
  color: white!important;
  font-size: 1.25rem!important;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Header-Logo {
  height: 45px;
  padding-bottom: 8px;
  padding-left: 7px;
}

.Page-review-holder {
  /*padding-top: 25px;*/
  margin: auto;
  width: 500px;
}

.Review-Modal-Wrapper {
  height: 550px;
  width: 500px;
}

.Review-icon {
  height: 35px;
}

.Review-icon:hover {
  height: 50px;
}


.Review-Bar-Wrapper {
  margin-bottom: 25px;
  margin-top: 25px;
}

.Like-Bar-Wrapper {
  /*margin-bottom: 25px;*/
  /*margin-top: 25px;*/
}

.Review-Main-Wrapper {
  padding-top: 25px;
}

.row {
  height: 75px;
}

.search {
  /*margin-left: 5%;*/
}

.like-mobile {
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: 5%;
}

.Search-Bar {
  width: 100%;
}

.Review-Labels {
  /*font-size: 1.25rem;*/
  text-align: left;
}

.Reaction-Label {
  font-family: 'Gamja Flower', cursive;
  font-size: 1.25rem;
}

/*Dont Need Now*/
/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/
